# Python
__pycache__/
*.pyc

# Environments
.venv/
.env
.env.*

# OS
.DS_Store

# dbt
dbt/target/
dbt/logs/
dbt/packages/
dbt/profiles.yml  # keep local, not tracked
.dbt/

# Streamlit
.streamlit/

# Logs & temp
logs/
*.bak

# Archive 
archive/

artifacts/*.joblib
.cache/
__pycache__/